* {
  margin: 0;
  padding: 0;
}
.s-soft{ 
 position: fixed;
 top: 30% ;
 z-index: 1000; transition:all linear 0.2s ;
}
.s-soft a:first-child {
  border-radius: 0 5px 0 0;
}
.s-soft a:last-child {
  border-radius: 0 0 5px 0;
}
.s-item {
  display: block;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 25px;
  line-height: 60px;
  text-align: center;
  transition: all linear 0.2s;
}
.s-item:hover {
  width: 110px;
  border-radius: 0px 20px 20px 0px;
}
#so-open {
  position: fixed;
  top: 100px;
  left: -90px;
  border-radius: 0 30px 30px 0;
  transition: all linear 0.2s;
}
.tiktok {
  background-color: #000000;
}
.print {
  background-color: #de3c7d;
}
.linkedin {
  background-color: #0e76a8;
}
.instagram {
  background-color: #c32aa3;
}
.so-collapse {
  left: -60px;
}
.facebook {background-color:  #3b5999;}
.twitter {background-color: #3AAFD6;}
.tiktok {background-color: #161616;}
.print {background-color: #de3c7d;}
.pinterest{background-color: #BD081C;}
.linkedin{background-color: #0e76a8 ;}
.instagram{background-color:  #c32aa3;}
.so-collapse{left: -60px; }

.s-item:hover,
.s-item:active,
.s-item:visited {
  color: white !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}
